@font-face {
  font-family: "";
  src: url("NotoSansHK-Regular-Alphabetic.eot");
  src: url("NotoSansHK-Regular-Alphabetic.eot?#iefix")
      format("embedded-opentype"),
    url("NotoSansHK-Regular-Alphabetic.woff2") format("woff2"),
    url("NotoSansHK-Regular-Alphabetic.woff") format("woff"),
    url("NotoSansHK-Regular-Alphabetic.svg#NotoSansHK-Regular-Alphabetic")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*----Переменные-------------------------------------------------------*/
$k: 2.5;
/*-------------Адаптивное свойство----------------------------------*/
/*Адаптивное свойство*/
$maxWidth: 1920;
$maxWidthContainer: 1276;

@mixin adapt-val($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

/*-------ОБНУЛЕНИЕ------------------------------*/
canvas {
  display: block;
  position: absolute;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  background: linear-gradient(55deg, #f5f2af -13.91%, #6e8251 48.57%);
  background-repeat: no-repeat;
  font-family: Assistant;
}

/*-----Container-----------------------*/
[class*="__container"] {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}
.wrapper {
  overflow: hidden;
}
/*------Header--------------------------------------*/
.header {
  @include adapt-val("padding-top", 31, 31 / $k, 1);
  &__container {
    display: flex;
  }
}
.logo {
  display: flex;
  &__img {
    @include adapt-val("width", 98.24, 98.24 / $k * 1.2, 1);
    @include adapt-val("height", 98, 98 / $k * 1.2, 1);
    object-fit: contain;
  }

  &__text {
    font-family: Assistant;
    @include adapt-val("font-size", 40, 40 / $k * 1.2, 1);
    font-weight: 600;
    background: linear-gradient(259deg, #fff -29.58%, #f5f2af 98.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*---------Main-----------------------------*/

.main {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    @include adapt-val("padding-right", 88, 88 / $k, 1);
    z-index: 3;
  }
  &__space {
    min-width: 50%;
  }
}
.content {
  &__title {
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    @include adapt-val("font-size", 70, 70 / $k, 1);
    font-weight: 900;
    line-height: 128.571%; /* 128.571% */
    background: linear-gradient(252deg, #fff 8.48%, #e6e6a5 96.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    @include adapt-val("margin-bottom", 20, 20 / $k, 1);
  }

  &__pre-title {
    @include adapt-val("font-size", 34, 34 / $k, 1);
    font-weight: 900;
    line-height: 88.235%; /* 88.235% */
    background: linear-gradient(87deg, #fff975 -20.71%, #fff 160.03%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__button {
    color: #fff;
    @include adapt-val("font-size", 40, 40 / $k, 1);
    font-weight: 400;
    @include adapt-val("border-radius", 40, 40 / $k, 1);
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    @include adapt-val("margin-top", 60, 60 / $k, 1);
    cursor: pointer;
    transform: translateY(-12%);
    transition: 0.5s;

    background: linear-gradient(
      142deg,
      rgba(255, 255, 255, 0.7) 1.68%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(10px);
    width: 80%;
    @include adapt-val("height", 90, 90 / $k, 1);
  }
}
/*----Анимация для кнопки-------------------------------*/
.content__button:is(:hover, :focus-visible) {
  --active: 1;
  --play-state: running;
}
.button-hov:hover {
  animation: button-flex;
  animation-duration: 1s;
  @include adapt-val("font-size", 43, 43 / $k, 1);
  -webkit-box-shadow: 0px -2px 8px 38px rgba(255, 255, 255, 0.11);
  -moz-box-shadow: 0px -2px 8px 38px rgba(255, 255, 255, 0.11);
  box-shadow: 0px -2px 8px 12px rgba(255, 255, 255, 0.645);
  transition: 0.5s;
}
@keyframes button-flex {
  0% {
    transform: translateY(-12%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-12%);
  }
}
.particle-pen {
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  -webkit-mask: radial-gradient(white, transparent 65%);
  z-index: -1;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.particle {
  fill: white;
  width: calc(var(--size, 0.25) * 1rem);
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  opacity: var(--alpha, 1);
  animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s)
    infinite linear;
  transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
  z-index: -1;
  animation-play-state: var(--play-state, paused);
}

.particle path {
  fill: hsl(0 0% 90%);
  stroke: none;
}

.particle:nth-of-type(even) {
  animation-direction: reverse;
}

@keyframes float-out {
  to {
    rotate: 360deg;
  }
}

.text {
  translate: 2% -6%;
  letter-spacing: 0.01ch;
  background: linear-gradient(
    90deg,
    hsl(0 0% calc((var(--active) * 100%) + 65%)),
    hsl(0 0% calc((var(--active) * 100%) + 26%))
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: background var(--transition);
}

button svg {
  inline-size: 1.25em;
  translate: -25% -5%;
}

/*------Mail----------------------------*/
.mail {
  @include adapt-val("padding", 51, 51 / $k, 1);
  z-index: 100;
  position: fixed;
  font-family: "Open Sans";
  left: 25%;
  top: 25%;
  @include adapt-val("border-radius", 40, 40 / $k, 1);
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 60%;

  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 0.7) 1.68%,
    rgba(255, 255, 255, 0) 100%
  );

  backdrop-filter: blur(10px);
}
.close img {
  position: absolute;
  @include adapt-val("width", 40, 40 / ($k + 0.5), 1);
  @include adapt-val("height", 35, 35 / ($k + 0.5), 1);
  @include adapt-val("top", 20, 20 / $k, 1);
  @include adapt-val("right", 20, 20 / $k, 1);
  cursor: pointer;
}
.name {
  display: flex;
  column-gap: 50px;
  margin-top: 10%;
  @include adapt-val("column-gap", 50, 50 / $k, 1);
}
.input-wrapper {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: -30px;
  @include adapt-val("margin-bottom", -30, -30 / $k, 1);
}

.input-field {
  @include adapt-val("border-radius", 20, 20 / $k, 1);
  background: #fff;
  width: 100%;
  @include adapt-val("padding", 10, 10 / $k, 1);
  outline: none;
  @include adapt-val("height", 90, 90 / $k, 1);
  color: rgba(0, 0, 0, 0.5);

  font-size: 25px;
  @include adapt-val("font-size", 25, 25 / $k, 1);
  font-weight: 600;
  line-height: 92.5%; /* 92.5% */
}

.input-field:focus {
  box-shadow: -1px 1px 21px 21px rgba(245, 242, 175, 0.23);
}

.input-wrapper input {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  @include adapt-val("font-size", 25, 25 / $k, 1);
  font-style: normal;
  font-weight: 600;
  line-height: 92.5%; /* 92.5% */
  @include adapt-val("border-radius", 25, 25 / $k, 1);
  background: #fff;
  @include adapt-val("max-height", 90, 90 / $k, 1);
  margin-bottom: 70px;
  @include adapt-val("margin-bottom", 70, 70 / $k, 1);
}

.input-wrapper input:focus {
  outline: none;
  box-shadow: -1px 1px 21px 21px rgba(245, 242, 175, 0.23);
}

.send-btn {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  @include adapt-val("font-size", 25, 25 / $k, 1);
  font-style: normal;
  font-weight: 600;
  line-height: 92.5%; /* 92.5% */
  width: 100%;
  opacity: 0.9;
  @include adapt-val("border-radius", 25, 25 / $k, 1);
  background: linear-gradient(179deg, #c7b398 -52.34%, #977a50 99.72%);
}

.send-btn:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .send-btn {
    margin-top: 20%;
  }
}

@media (max-width: 900px) {
  .content__button {
    width: 100%;
    margin-left: 5%;
    @include adapt-val("height", 90, 90 * $k * 0.3, 1);
  }
  .content {
    margin-top: 10%;
    &__title {
      text-align: end;
      font-size: 35px;
    }
    &__pre-title {
      text-align: end;
      background: linear-gradient(270deg, #f5f2af -40.14%, #fff 62.14%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include adapt-val("margin-top", 225, 400, 1);
      word-spacing: 100vw;
      margin-left: auto;
      font-size: 30px;
    }
  }
  .main__space {
    display: none;
  }
  .mail {
    left: 15%;
    top: 25%;
    width: 60%;
    height: 60%;
  }
  .name {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .mail {
    left: 15%;
    top: 25%;
    width: 70%;
    height: 40%;
  }
}
